{
  "presets": [
    ["babel-preset-gatsby-package", { "browser": true }]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "strictMode": false
      }
    ]
  ]
}
